<h3 class="page-header">Post</h3>
<form action="/createPost" id="register-form" method="post">
    <div class="form-group">
        <label for="title">title</label>
        <input type="text" id="title" class="form-control" placeholder="Your title" name="title">
    </div>
    <div class="form-group">
        <label for="text">text</label>
        <textarea  class="form-control" name="text" id="text" cols="30" rows="10"></textarea>
        
    </div>
   
  
   
    <button type="submit" class="btn btn-primary">Submit</button>
</form>